input{
    border-color: rgb(44, 44, 44);
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    margin: 1rem;
}
button{
    font-family: Joystix;
}
@font-face {
    font-family: 'Joystix';
    src: url("/fonts/joystix monospace.otf");
}
